@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .bg-grid-white {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgba(255,255,255,0.04)'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
  }
}
